<div class="container">

  <h1><%= @product.name %></h1>
  <p><%= @product.product_type %></p>
  <p><%= @product.details %></p>

  <% @product.product_sizes.each do |ps| %>
    <%= link_to "#{ps.size}" , product_product_size_path(@product, ps)  %>
  <% end %>


  <div class="d-flex align-content">
    <%= link_to "Volver", products_path, class: "btn btn-primary" %>
    <%= link_to "Agregar nuevo tamaño", new_product_product_size_path(@product), class: "btn btn-primary" %>
    <%= link_to "Editar", edit_product_path(@product), class: "btn btn-secondary" %>
  </div>

</div>
